{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
</head>
<body>
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div class="">
                        <a href="" class="flex px-2 py-4 items-center">
                            <img class="h-8 w-8" src="{% static 'myapp/images/shopping.png' %}">
                            <span class="text-gray-500 font-semibold">Buy&Sell</span>
                        </a>
                    </div>
                    <div class="flex items-center space-x-1">
                        <a href="#" class="px-2 py-4 text-gray-500 font-semibold border-b-4 border-green-500">Home</a>
                        <a href="#" class="px-2 py-4 text-gray-500 font-semibold">About</a>
                        <a href="#" class="px-2 py-4 text-gray-500 font-semibold">Contact</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'users:logout' %}" class="px-40 py-4 text-gray-500 font-semibold">Logout</a>
                            <a href="{% url 'users:profile' %}" class="px-40 py-4 text-gray-500 font-semibold">Profile</a>
                        {% else %}
                            <a href="{% url 'users:login' %}" class="px-40 py-4 text-gray-500 font-semibold">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>